<app-header />

<main>
  <ul id="users">
    @for (user of users; track user.id) { 
      <li>
        <app-user 
          [user] = "user"
          [selected]="user.id === selectUserId"
          (select)="onSelectUser($event)"
        />
      </li>
    } 
  </ul>

  @if (selectedUser) {
    <app-tasks 
      [userId]="selectedUser.id"
      [name]="selectedUser!.name"
    />
  } @else {
      <p >Select a user to see their task!</p>  
  } 
</main>

<!-- 
  Old For in Angular!
  *ngFor="let user of users"

  Old if in Angular!
  *ngIf="selectedUser; else fallback"
  <ng-template #fallback>
    <your element id="fallback"></your>
</ng-template> 
-->